<form method='POST' action="/logout">
    <div class="log-out-place">
        <button id="log-out">log out</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
    </div>
</form>
<div id="signers-from-city-container">
    <h1 id="signers-from-city-text">See all people from {{city}}:</h1>
    <ul>
        {{#signersFrom}}
        {{#if url}}
            <li><a id="signers-link" href="{{url}}" target="_blank">{{firstname}} {{lastname}}</a>
            {{age}}
        {{else}}
            <li> {{firstname}} {{lastname}}
            {{age}}
        </li>
        {{/if}}
        {{/signersFrom}}
    </ul>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>

</div>
