<div id="edit-container">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <h1 id="edit-text">Edit your profile here:</h1>
<div id="edit-inputs">
    <form method='POST'>
        {{#with profile}}
        <input type="text" name="firstname" placeholder="firstname" value="{{firstname}}" autocomplete="off" required>
        </input>
        <input type="text" name="lastname" placeholder="lastname" value="{{lastname}}" autocomplete="off" required>
        </input>
        <input type="email" name="emailaddress" placeholder="email" value="{{email}}" autocomplete="off" required>
        </input>
        <input type="password" name="password" placeholder="password" autocomplete="off">
        </input>
        <input type="number" name="age" placeholder="age" value="{{age}}" autocomplete="off">
        </input>
        <input type="text" name="city" placeholder="city" value="{{city}}" autocomplete="off">
        </input>
        <input type="text" name="url" placeholder="homepage" value="{{url}}" autocomplete="off">
        </input>
        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
        </input>
        <button type='submit'>update</button>
        {{/with}}
    </form>
</div>
</div>

{{#if error}}
    <p id="try-again">Please try again!</p>
{{/if}}
