<h1>Signers</h1>
<div>
<ul>
    {{#signedUsers}}
    {{#if url}}
        <li><a href="{{url}}" target="_blank">{{firstname}} {{lastname}}</a></li>
    {{else}}
        <li>{{firstname}} {{lastname}}</li>
    {{/if}}
    {{age}}
    <a href="{{city}}"> {{city}}</a>
    {{/signedUsers}}
</ul>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</div>
