<form method='POST' action="/logout">
    <div class="log-out-place">
        <button id="log-out">log out</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
    </div>
</form>
<div id="signers-container">
    <h1 id="signers-text">Signers:</h1>
    <ul>
        {{#signedUsers}}
        {{#if url}}
            <li><a id="signers-link" href="{{url}}" target="_blank">{{firstname}} {{lastname}}</a>
            {{age}}
            <a id="signers-link" href="/signers/{{city}}">{{city}}</a></li>
        {{else}}
            <li> {{firstname}} {{lastname}}
            {{age}}
            <a id="signers-link" href="/signers/{{city}}">{{city}}</a>
        </li>
        {{/if}}
        {{/signedUsers}}
    </ul>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>

</div>
